{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Mis datos {% endblock %}
{% block header_title %} Mis datos {% endblock header_title %}
{% block content %}
  
<!-- row -->
    <div class="row column1">
        <div class="col-md-3"></div>
        
        <div class="col-md-6">
            <div class="white_shd full margin_bottom_30">
                <div class="full graph_head">                    
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <!-- user profile section --> 
                            <!-- profile image -->
                            <div class="col-12">
                                <div class="full dis_flex center_text">
 
                                    <form method="POST" enctype=multipart/form-data>
                                        {% csrf_token %}
                                        {{ usuario_form | crispy }}
                                        <button type="submit" class="model_bt btn btn-primary btn-xs">enviar</button>
                                    </form>                                 

                                </div>                              

                            </div>
                        </div>
                            <!-- end user profile section -->
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
    <!-- end row -->            
         
   
    <!-- model popup -->
    {% comment %} {% include 'modals/modal-editar-datos.html' %} {% endcomment %}
                  <!-- end model popup -->               

{% endblock content %}