
<!-- MODULO DE INDEX-->
{% load static %}
{% if datos %}
    {% for dato in datos %}
        <div class="topbar">   
            
            {% include 'modulos/mensaje.html' %}  

            <nav class="navbar navbar-expand-lg navbar-light">
            <div class="full">
                <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                <div class="logo_section"> 
                    <a href="{% url 'resumen' %}"><img class="img-responsive" src="{% static 'images/logo/logo.png' %}" alt="#" /></a>
                </div>
                <div class="right_topbar">
                    <div class="icon_info">               
                        <ul>
                        <li><a href="{% url 'campana' %}"><i class="fa fa-bell-o"></i>
                            {% if notificasion_cantidades == 0 %}
                                <span class="badge"></span></a></li>
                            {% else %}
                                <span class="badge">{{ notificasion_cantidades }}</span></a></li>
                            {% endif %}
                        <li><a href="{% url 'soporte' %}"><i class="fa fa-question-circle"></i></a></li>
                        <!--<li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>-->
                        </ul>
                        {% comment %} <ul class="user_profile_dd">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{{ dato.imagen.url }}" alt="#" /><span class="name_user">{{ user.first_name }}</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'usuario' %}">Mi perfil</a>
                                <!--<a class="dropdown-item" href="settings.html">Configuracion</a>-->
                                <a class="dropdown-item" href="{% url 'soporte' %}">Ayuda</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><span>Cerrar sesion</span> <i class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
            </nav>
        </div>
    {% endfor %}
{% else %}
<div class="topbar">   
            
            {% include 'modulos/mensaje.html' %}  

            <nav class="navbar navbar-expand-lg navbar-light">
            <div class="full">
                <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                <div class="logo_section"> 
                    <a href="{% url 'resumen' %}"><img class="img-responsive" src="{% static 'images/logo/logo.png' %}" alt="#" /></a>
                </div>
                <div class="right_topbar">
                    <div class="icon_info">               
                        <ul>
                        <li><a href="{% url 'campana' %}"><i class="fa fa-bell-o"></i>
                            {% if notificasion_cantidades == 0 %}
                                <span class="badge"></span></a></li>
                            {% else %}
                                <span class="badge">{{ notificasion_cantidades }}</span></a></li>
                            {% endif %}
                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                        </ul>
                        {% comment %} <ul class="user_profile_dd">
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="{% static 'images/layout_img/user-0.jpg' %}" alt="#" /><span class="name_user">Cuenta: {{ user.username }}</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'usuario' %}">Mi perfil</a>
                                <a class="dropdown-item" href="settings.html">Configuracion</a>
                                <a class="dropdown-item" href="help.html">Ayuda</a>
                                <a class="dropdown-item" href="{% url 'logout' %}"><span>Cerrar sesion</span> <i class="fa fa-sign-out"></i></a>
                            </div>
                        </li>
                        </ul> {% endcomment %}
                    </div>
                </div>
            </div>
            </nav>
        </div>

{% endif %}