<!-- Modal  inscripcion resumen.html -->
 
    <div class="modal fade" id="inscripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nombre de Dominios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if serv_inscripciones %}
                    {% for serv_inscripcion in serv_inscripciones %}                     
                        <div class="modal-body">
                            <p class="font-weight-bold">{{ forloop.counter }}. {{ serv_inscripcion.proyecto }}</p>                          
                            <p>Inicio: {{ serv_inscripcion.inicio }}</p>
                            <p>Finaliza: {{ serv_inscripcion.final }}</p>
                        </div>
                        <div class="modal-footer">
                            <a class="model_bt btn btn-primary btn-xs" href="{% url 'detalles' serv_inscripcion.slug %}">Detalles</a>                         
                        </div> 
                        <hr>                   
                    {% endfor %}
                {% else %}
                    <div class="modal-body">
                        <p class="font-weight-bold">No adquirio este servicio</p>                     
                    </div>
                {% endif %}         
            </div>            
        </div>
    </div>
<!-- End Modal section -->