{% load static %}
<!DOCTYPE html>
<html lang="es">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>
         {% block title %}Admin Panel Templates{% endblock title %}
      </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      {# Del login #}
      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
      {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles-login.css' %}"> {% endcomment %}

      {# Final del login #}
      <!-- site icon -->
      {% block icono %}
         <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" />
      {% endblock icono %}
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
      <!-- site css -->
      <link rel="stylesheet" href="{% static 'style.css' %}" />
      <!-- responsive css -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
      <!-- color css -->
      {% comment %} <link rel="stylesheet" href="{% static 'css/colors.css' %}" /> {% endcomment %}
      <!-- select bootstrap -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="{% static 'css/perfect-scrollbar.css' %}" />
      <!-- custom css -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
  
   <body class="dashboard dashboard_1">
      {% block todo %}
         
         <div class="full_container">           
            
            <div class="inner_container">
               
               <!-- Sidebar  -->
               <nav id="sidebar">
                  {% block foto %}
                  {% comment %} Foto y nombre {% endcomment %}
                  {% endblock foto %}

                  <div class="sidebar_blog_2">
                     <h4>General</h4>
                     
                     <ul class="list-unstyled components">
                        {% block left_menu %}

                           {% comment %} Menu sidebar {% endcomment %}
                           
                        {% endblock left_menu %}
                     </ul>
                  </div>
               </nav>
               <!-- end sidebar -->

               <!-- right content -->
               <div id="content">                  
                  <!-- topbar -->
                  {% block topbar %}
                  
                     {% comment %} Top_br contenido {% endcomment %}
                  {% endblock topbar %}
                  <!-- end topbar -->
                  
                  
                  <!-- dashboard inner -->
                  <div class="midde_cont">
                     <div class="container-fluid">
                        <div class="row column_title">
                           <div class="col-md-12">
                              <div class="page_title">
                                 <h2>{% block header_title%} Dashboard {% endblock header_title %}</h2>
                              </div>
                           </div>
                        </div>
                        {% block content %}

                        {% comment %} Aqui contenido {% endcomment %}
                 
                        {% endblock content %}
                     </div>
                     <!-- footer -->
                     <div class="container-fluid">
                        <div class="footer">
                           <p>Copyright @ 2022 Dise&ntilde;ado por Websonline.Online. Todos los Derechos Reservados.</p>
                        </div>
                     </div>
                  </div>
                  <!-- end dashboard inner -->
                  
               </div>               
            
            </div>
           
         </div>
         
      {% endblock todo %}
      <!-- jQuery -->     

      {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>       {% endcomment %}
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>      
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      {% comment %} <script src="{% static 'js/popper.min.js' %}"></script> {% endcomment %}
      <!-- wow animation -->
      <script src="{% static 'js/animate.js' %}"></script>
      <!-- select country -->
      <script src="{% static 'js/bootstrap-select.js' %}"></script>
      <!-- owl carousel -->
      <script src="{% static 'js/owl.carousel.js' %}"></script> 
      <!-- chart js -->
      <script src="{% static 'js/Chart.min.js'%}"></script>
      <script src="{% static 'js/Chart.bundle.min.js' %}"></script>
      <script src="{% static 'js/utils.js' %}"></script>
      <script src="{% static 'js/analyser.js' %}"></script>
      <!-- nice scrollbar -->
      <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      {% comment %} <script src="{% static 'js/custom.js' %}"></script> {% endcomment %}
      {% comment %} <script src="{% static 'js/calendar.min.js' %}"></script> {% endcomment %}
      {% comment %} <script src="{% static 'js/chart_custom_style1.js' %}"></script>    {% endcomment %}
      {% comment %} <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal_editar(url){
            $('#editardatos').load(url, function (){
                $(this).modal('show');
            });
        }
      </script>  {% endcomment %}
      <script src="https://unpkg.com/htmx.org@1.8.0"></script>

      {% block extrajs %}
      {% comment %} Scripts extras {% endcomment %}
      {% endblock extrajs %}
   </body>
</html>